body {
    background-image: url(bayrak.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
pre {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 25px;
    text-transform: capitalize;
    word-spacing: normal;
    letter-spacing: 2px;
    font-style: italic;
    text-shadow: 0.5px 1px;
}
