@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: blueviolet; 
    color: white; 
    padding: 20px;
    text-align: center; 
}
header h1 {
    font-family: 'Berlin Sans FB Demi', sans-serif;
}
nav {
    background-color: black; 
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
nav a {
    float: left; 
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; 
    font-family: 'Berlin Sans FB Demi', sans-serif;
}
nav a:hover {
    background-color: #ddd; 
    color: black;
}

.content {
    display: flex;
    padding: 20px;
}
.main {
    flex: 7; 
    padding: 20px;
    background-color: white;
    margin-right: 20px; 
}
.sidebar {
    flex: 1; 
    background-color: #f9f9f9;
    padding: 20px;
}
footer {
    background-color: black; 
    color: white; 
    padding: 20px;
    text-align: center;
}
.berlin {
    font-family: 'Berlin Sans FB Demi', sans-serif;
}
.link , .link:visited {
    display: block;
    color: blueviolet;
    text-decoration: none;
}
.link:hover {
    display: block;
    color: aqua;
    text-decoration: none;
}
.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    overflow: hidden;
    text-align: left;
}
.card-content {
    padding: 15px;
}
.card h2 {
    margin: 0 0 10px;
    color: #444;
    font-family : 'Berlin Sans FB Demi', sans-serif;
}

.card button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family : 'Berlin Sans FB Demi', sans-serif;
}

.card button:hover {
    background-color: #0056b3;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}